*.class
*.DS_Store

# Package Files #
*.jar
*.war
*.ear

# include properties, as we hold client keys there
*.properties
test-file.json

/bin/
/target/

# eclipse files
/.classpath
/.project
build-communique.xml
build-marconi.xml
/.settings/
Communique.userlibraries
Communique.eml

# IDEA files
Communique.iml
/.idea/
/classes/

# used for IDEA artefact export
/marconi-meta/
/communique-meta/

# used for possible last session logs
communique-last-session.log
marconi-last-session.log
